*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* fonts import */
@import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');

html {
  font-size: 100%;
}

:root {
  /* transition */
  --transition: all 0.3s ease-in-out;
}

body {
  background: url('./imgs/2352.jpg');
  background-size: cover;
  background-position: center;
  font-size: 100%;
  font-family: 'Exo', sans-serif;
}

#game {
  position: relative;
}

main {
  display: grid;
  height: calc(100vh - 4.5rem);
  padding: 1rem;
  margin-top: 0.5rem;
  place-items: center;
}

.section-center {
  display: grid;
  place-items: center;
  gap: 3rem;
}

#interval {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: none;
  place-items: center;
  color: antiquewhite;
  gap: 2rem;
  background-color: rgba(128, 128, 128, 0.5);
  text-align: center;
  font-size: 2rem;
}

#timer {
  font-size: 10rem;
}

.left {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;
}

.info {
  display: grid;
  gap: 0.2rem;
  width: 100%;
  font-size: 1rem;
  text-transform: capitalize;
  background-color: rgba(255, 105, 180, 0.2);
  border: hotpink solid 0.1rem;
  color: aliceblue;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 1rem;
  box-shadow: 0px 2px 7px -4px whitesmoke;
}

.grid {
  height: 400px;
  width: 400px;
  min-width: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: transparent;
  margin-bottom: 1.5rem;
}

.grid div {
  height: 46px;
  width: 46px;
  border-radius: 10px;
  margin: 2px;
  box-shadow: -2px 4px 6px 2px rgba(255, 255, 255, 0.1);
}

.img-gumball {
  height: 100%;
  width: 100%;
}

nav {
  height: 4rem;
  background: midnightblue;
  box-shadow: 0px 4px 5px -2px mediumslateblue;
  border-bottom-left-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
  display: flex;
  padding: 0 0.5rem;
  max-width: 600px;
  justify-content: space-between;
  margin: 0 auto;
}

nav h1 {
  display: flex;
  align-items: center;
  color: white;
  letter-spacing: 0.2rem;
  font-weight: bold;
  cursor: pointer;
  margin: 0.5rem;
}

.links {
  display: flex;
}

.link {
  color: white;
  margin: 0.5rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  transition: all 0.3s linear;
}

.ch {
  height: 0.5rem;
  width: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 1rem;
  background-color: aquamarine;
  box-shadow: 0px 0px 5px 2px aqua;
  border: 0.5px solid aqua;
  display: inline-block;
  transition: var(--transition);
}

#zany-bar {
  display: flex;
  align-items: center;
  margin-top: 0.2rem;
}

#progress-back {
  height: 0.5rem;
  width: 6rem;
  border-radius: 1rem;
  background-color: pink;
  display: relative;
  margin-right: 1rem;
}

#progress-front {
  height: 0.5rem;
  width: 0rem;
  background-color: hotpink;
  border-radius: 1rem;
  display: absolute;
}

#claim-zany {
  background-color: hotpink;
  color: aliceblue;
  border: none;
  padding: 0.4rem;
  border-radius: 1rem;
  text-transform: capitalize;
  letter-spacing: 0.05rem;
  font-family: 'Exo', sans-serif;
  transition: var(--transition);
  font-size: 16px;
}

#claim-zany:hover {
  box-shadow: 0px 0px 7px 0px hotpink;
}

.link:hover {
  color: aquamarine;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
  align-items: center;
}

@media screen and (min-width: 800px) {
  .section-center {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 5rem;
    margin-top: 0;
  }

  .left {
    display: grid;
    gap: 0.5rem;
    margin-right: 4rem;
  }

  .info {
    display: block;
    font-size: 1.2rem;
  }

  .grid {
    height: 560px;
    width: 560px;
    min-width: 560px;
    margin: 0 2rem;
  }

  .grid div {
    height: 66px;
    width: 66px;
  }

  .ch {
    width: 3rem;
  }
}

@media screen and (min-width: 600px) {
  .section-center {
    margin-top: 0.5rem;
    gap: 0.5rem;
  }

  .grid {
    height: 480px;
    width: 480px;
    min-width: 480px;
  }

  .grid div {
    height: 56px;
    width: 56px;
  }
}

.zany {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.zany:hover {
  color: aquamarine;
}
